*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    height: 32rem;
}

header .container h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: medium;
    background-color: bisque;
    width: 500px;
    height: 30px;
    box-shadow: inset 2px 2px 2px black;
}

header .container{
    margin-bottom: 5px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.479);
    display: flex;
    justify-content: center;

}

header .containerhora{

    display: flex;
    gap: 5px;
    justify-content: center;
    font-size: 3rem;
    padding: 5px;
    box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 2px rgba(0,0,0,0.75);
}

main{
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 5px;
    align-items: center;
}

main .pri,.normal{
    position: relative;
    color: #ffffff;
    width: 300px;
    height: 60%;
    border: 1px solid black;  
}
main .pri a,.normal a{
    display: flex;
    text-decoration: none;
    background-color: #ffffff;
    width: 90%;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: black;
    &:hover{

        opacity: 82%;
        color: red;
    }
}
main .pri h1,.normal h1{
    display: flex;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main .normal,.pri{

background-color: green;
}
